# Workgroup-member Samba configuration
[global]
   server string = Workgroup File Server
   netbios name = {{ hvp_netbios_storagename }}
   workgroup = WORKGROUP
   security = user
   bind interfaces only = no
   clustering = yes
   ctdbd socket = /run/ctdb/ctdbd.socket
   private dir = /gluster/lock

   passdb backend = tdbsam

   load printers = no
   printing = bsd
   printcap name = /dev/null
   disable spoolss = yes
   show add printer wizard = no
   cups options = raw

   log file = /var/log/samba/log.%m
   log level = 2
   max log size = 50
   syslog = 1
   syslog only = No

   map to guest = Bad user
   username map = /etc/samba/smbusers
   store dos attributes = no
   map acl inherit = no
   dos filemode = no
   dos filetime resolution = yes
   create mask = 0664
   force create mode = 440
   directory mask = 6775
   force directory mode = 550
   unix extensions = no
   hide special files = yes
   dead time = 15
   preserve case = yes
   short preserve case = yes
   default case = lower
   case sensitive = no
   max protocol = SMB3
   kernel share modes = no
   locking = yes
   strict locking = no
   oplocks = no
   level2 oplocks = no
   kernel oplocks = no
   stat cache = no
   max open files = 16404

[IPC$]
   comment = Remote IPC
   path = /tmp


#====================== Local Share Definitions ==============================

[Homes]
   comment = User personal folder
   path = /homes
   browseable = no
   writable = yes
   available = yes
   guest ok = no
   valid users = %S
   create mask = 0600
   directory mask = 0700
   force create mode = 00
   force directory mode = 00
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-homes.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

[Profiles]
   comment = User profile folder
   path = /profiles
   browseable = no
   writable = yes
   available = yes
   guest ok = no
   profile acls = yes
   csc policy = disable
   create mask = 0600
   directory mask = 0700
   force create mode = 00
   force directory mode = 00
   hide files = /desktop.ini/outlook*.lnk/*Briefcase*/$RECYCLE.BIN/
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-profiles.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

[Groups]
   comment = Group folders
   path = /groups
   browseable = yes
   writable = yes
   available = yes
   guest ok = no
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-groups.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

[Software]
   comment = Software repository
   path = /software
   browseable = yes
   writable = yes
   available = yes
   guest ok = no
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-software.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}
