# Workgroup-member Samba configuration
[global]
   server string = Workgroup File Server
   netbios name = {{ hvp_netbios_storagename }}
   workgroup = WORKGROUP
   security = user
   bind interfaces only = no
   clustering = yes
   ctdbd socket = /run/ctdb/ctdbd.socket
   private dir = /gluster/lock

   passdb backend = tdbsam

   load printers = no
   printing = bsd
   printcap name = /dev/null
   disable spoolss = yes
   show add printer wizard = no
   cups options = raw

   log file = /var/log/samba/log.%m
   log level = 2
   max log size = 50
   syslog = 1
   syslog only = No

   map to guest = Bad user
   username map = /etc/samba/smbusers
   vfs objects = acl_xattr
   store dos attributes = yes
   map acl inherit = yes
   dos filetime resolution = yes
   unix extensions = no
   hide special files = yes
   dead time = 15
   preserve case = yes
   short preserve case = yes
   default case = lower
   case sensitive = no
   max protocol = SMB3
   kernel share modes = no
   locking = yes
   strict locking = no
   oplocks = no
   level2 oplocks = no
   kernel oplocks = no
   stat cache = no
   max open files = 16404

[IPC$]
   comment = Remote IPC
   path = /tmp


#====================== Local Share Definitions ==============================

# Set ACL from Windows as per https://wiki.samba.org/index.php/User_Home_Folders
[Users]
   comment = User personal folder
   path = /users
   browseable = no
   writable = yes
   available = yes
   guest ok = no
   valid users = %S
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-users.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

# Set ACL from Windows as per https://wiki.samba.org/index.php/Roaming_Windows_User_Profiles
[Profiles]
   comment = User profile folder
   path = /profiles
   browseable = no
   writable = yes
   available = yes
   guest ok = no
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-profiles.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

# Set ACL from Windows as per https://wiki.samba.org/index.php/Setting_up_a_Share_Using_Windows_ACLs#Setting_ACLs_on_a_Folder
[Groups]
   comment = Group folder
   path = /groups
   browseable = yes
   writable = yes
   available = yes
   guest ok = no
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-groups.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}

[Software]
   comment = Software repository
   path = /software
   browseable = yes
   writable = yes
   available = yes
   guest ok = no
   vfs objects = glusterfs recycle
   recycle:keeptree = no
   recycle:versions = yes
   #glusterfs:loglevel = 7
   glusterfs:logfile = /var/log/samba/glusterfs-software.log
   glusterfs:volume = {{ hvp_winshare_volume_name }}
