# BEGIN ANSIBLE MANAGED BLOCK {{ hvp_engine_name }}

host {{ hvp_engine_name }} {
	hardware ethernet {{ mac_result.stdout }};
	fixed-address {{ hvp_engine_ip }};
}

# END ANSIBLE MANAGED BLOCK {{ hvp_engine_name }}
