# Configuratioon file for Bareos storage daemon on each oVirt node
Storage {
  Name = Gluster
  Address = {{ hvp_storage_name }}.{{ hvp_gluster_domainname }}                # N.B. Use a fully qualified name here (do not use "localhost" here).
  Password = "{{ bareos_sd_dir_password }}"
  Device = GlusterStorage
  Media Type = GlusterFile
}
