Client {
  Name = {{ hostvars[item]['ansible_hostname'] }}-fd
  Description = "Client resource of oVirt node {{ item }}."
  Address = {{ item }}
  Password = "{{ hostvars[item]['bareos_fd_dir_password'] }}"          # password for FileDaemon
}
